body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("images/verdenzya-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}